{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="5">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      max-width: 700px;
      border: none;
    }

    h2 {    
      text-align: center;
      width: 100%;
      padding: 0px 40px;
    } 
  </style>
</head>
<body>
<h2>Results</h2>
<table>
  <tr>
    <th>Player</th>
    <th>Score</th>
  </tr>
  {% for player in players %}
  <tr>
    <td>{{ player }}</td>
    <td>{{ players[player]['score'] }}</td>
  </tr>
  {% endfor %}
</table>
<div style="text-align: center;">
  <button id="playAgainBtn" onclick="playAgain()" class="btn btn-dark my-3" type="button">Play Again</button>
</div>

<script>
  function playAgain() {
    var playAgainBtn = document.getElementById('playAgainBtn');
    playAgainBtn.disabled = true;
    window.location.href = '/game';
  }
</script>
</body>
</html>

{% endblock %}


