{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <style>

    table {
      border-collapse: collapse;
      width: 100%;
      max-width: 700px;
      border: none;
    }

    h2 {    
      text-align: right;
      width: 70%;
      padding: 0px 40px;
    } 
       
  </style>
</head>
<body>
<h2>Results</h2>
<table>
  <tr>
    <th>Player</th>
    <th>Score</th>
  </tr>
  {% for player in players %}
  <tr>
    <td>{{ player }}</td>
    <td>{{ players[player]['score'] }}</td>
  </tr>
  {% endfor %}
</table>
<div style="text-align: center;">
  <a href="/">Play Again</a>
</div>
</body>
</html>

{% endblock %}

