{% extends 'base.html' %}

{% block content %}

<head>
  <style>
    .top-align {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      gap: 0px; /* Add space between elements */
      padding-top: 0px; /* Add some padding at the top */
    }
    table {
      margin-top: 0px;
    }
  </style>
</head>
<body>  
<div class="top-align">
  <h2>Welcome to Temporal Trivia Game!</h2> 
  <h9>Brought to you by the Temporal SA Team</h9>
  <br><br>
  <h3>Create a new game</h3>
  <button onclick="location.href='/create_game'" class="btn btn-dark my-3" type="button">Create Game</button>

  <h3>Join or View an existing game</h3>
  <table>
    <tr>
      <th>Game ID</th>
      <th>Number of Players</th>
      <th>Player Names</th>
      <th>Action</th>
    </tr>
    {% for id, game in games.items() %}
    {% if game.users|length < 5 %}
    <tr>
      <td>{{ id }}</td>
      <td>{{ game.users|length }}</td>
      <td>{{ game.users }}</td>
      <td>
        {% if game.started %}
            <button class="btn btn-dark my-3" onclick="window.location.href='/{{ id }}/view'">View</button>
        {% else %}
          <button onclick="location.href='/{{ id }}/join'" class="btn btn-dark my-3" type="button">Join</button>
        {% endif %}        
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
</body>

{% endblock %}

