{% extends 'base.html' %}

{% block content %}

<head>
  <style>
    table {
      border-collapse: separate;
      border-spacing: 0;
      margin: auto;
      width: 50%;
      border: 1px solid black;
      border-radius: 10px;
      overflow: hidden;
    }

    th, td {
      border: 1px solid black;
      text-align: center;
      padding: 10px;
    }

    th {
      background-color: black;
      color: white;
    }

    td {
      height: 50px;
    }
  </style>
</head>
<body>
<h2 style="text-align: center;">Lobby</h2>
<table>
  <tr>
    <th>Players</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user }}</td>
  </tr>
  {% endfor %}
</table>
<p style="text-align: center;">Waiting for more players to join...</p>
</body>
<script>
    var start = Date.now(); // get the current time in milliseconds
    var interval = setInterval(function() {
        var elapsed = Date.now() - start; // calculate the elapsed time
        console.log("Elapsed time: " + elapsed);
        if(elapsed > 100000) { // if 10 seconds have passed
            console.log("10 seconds have passed. Redirecting to start page.");
            clearInterval(interval); // stop the interval
            window.location.href = '/{{ game_id }}/start'; // redirect to start page
        }
        fetch('/{{ game_id }}/get_player_count')
            .then(response => response.json())
            .then(data => {
                console.log("Current player count: " + data);
                if(data.count >= data.number_players) {
                    console.log("Player count is 2 or more. Redirecting to start page.");
                    clearInterval(interval); // stop the interval
                    window.location.href = '/{{ game_id }}/start'; // redirect to start page
                }
            });
    }, 1000); // run this interval every 1 second (1000 milliseconds)
</script>

{% endblock %}
