{% extends 'base.html' %}

{% block content %}

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    table {
      border-collapse: separate;
      border-spacing: 0;
      margin: auto;
      width: 100%;
      max-width: 700px;
      border: 1px solid black;
      border-radius: 10px;
      overflow: hidden;
    }

    th, td {
      border: 1px solid black;
      text-align: center;
      padding: 10px;
    }

    th {
      background-color: black;
      color: white;
    }

    td {
      height: 50px;
    }

    .clickable-row {
      cursor: pointer;
    }

    .selected-choice {
      background-color: lightgreen;
    }
  </style>
</head>
<body>
<div id="cname-div" style="position: fixed; top: 10px; right: 10px;"></div>
<div id="server-status" style="text-align: center; color: red;"></div>
<h2 style="text-align: center;">{{ question }}</h2>
<div id="countdown" style="text-align: center;">You have {{ answer_limit }} seconds to choose an answer.</div>
<form id="choiceForm" action="/{{ game_id }}/play" method="post">
  <input id="selectedChoice" type="hidden" name="choice">
  <table>
    <tr>
      <th>Choices</th>
    </tr>
    {% for choice in choices %}
    <tr class="clickable-row" data-choice="{{ choice }}">
      <td>
        {{ choice }}: {{ choices[choice] }}
      </td>
    </tr>
    {% endfor %}
  </table>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var answerLimitSeconds = {{ answer_limit }}; // fetch from backend
  var countDownDate = new Date().getTime() + answerLimitSeconds * 1000; // answerLimitSeconds from now
  var timeout = null;

  // Update the count down every 1 second
  var countdownInterval = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var seconds = Math.floor((distance % (1000 * answerLimitSeconds)) / 1000);
    document.getElementById("countdown").innerHTML = "You have " + seconds + " seconds to choose an answer.";
    if (distance < 0) {
      clearInterval(countdownInterval);
      document.getElementById("countdown").innerHTML = "Time's up!";
      // User didn't choose an answer in time. Submit the form with the default choice "e".
      if (timeout === null) {
        window.location.href = '/{{ game_id }}/X/results';
      }
    }
  }, 1000);


  $('.clickable-row').click(function() {
    if (!$(this).hasClass('choice-made')) {
      $('.clickable-row').addClass('choice-made');
      $(this).addClass('selected-choice');
      var choice = $(this).data('choice');
      $('#selectedChoice').val(choice);
      // User made a choice. Stop the countdown and timeout.
      clearInterval(countdownInterval);
      clearTimeout(timeout);
      // Ajax form submission
      $.ajax({
        url: "/{{ game_id }}/play",
        type: 'post',
        data: $('#choiceForm').serialize(),
        success: function() {         
          // Start checking results after successful form submission
          var checkResultsInterval = setInterval(function() {
            $.get('/{{ game_id }}/check_results', function(data) {
              if (data.ready) {
                clearInterval(checkResultsInterval);
                // Redirect to the desired page when ready
                window.location.href = '/{{ game_id }}/' + choice + '/results';
              }
            });
          }, 1000);
        },       
      });
    }
  });

  $(document).ready(function() {
    function updateCName() {
      $.ajax({
        url: '/get_cname',
        type: 'GET',
        success: function(data) {
          $('#cname-div').text(data.cname);
        }
      });
    }

    setInterval(updateCName, 3000);  // Update every 3 seconds
    updateCName();  // Initial update
  });

  $(document).ready(function() {
  function checkServerStatus() {
    $.ajax({
      url: '/{{ game_id }}/check_ready',
      type: 'GET',
      timeout: 3000, // sets timeout to 3 seconds
      success: function(data) {
        if (data.ready) {
          $('#server-status').text("").css('color', 'black');
        } else {
          $('#server-status').text("Game not ready...").css('color', 'red');
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        if (textStatus === 'timeout') {
          $('#server-status').text("Cannot connect to Temporal cloud...retrying").css('color', 'red');
        } else {
          $('#server-status').text("Error: " + textStatus).css('color', 'red');
        }
      }
    });
  }

  setInterval(checkServerStatus, 3000);  // Check every 3 seconds
  checkServerStatus();  // Initial check
});
</script>
</body>

{% endblock %}


